body {
    padding: 2rem;
    background-image: linear-gradient( to right,rgb(92, 133, 180), rgb(20, 22, 22) );
  }

h2{
    color: rgb(5, 5, 5);
  }
p
{
    font-size: 20px;
    color:black;
}

ul{
  
  list-style-type: circle;
  
}

ul li
{
  
    display: block;
    padding: 20px 30px;

}

.btn
{
  --bs-btn-bg:rgb(24, 49, 77);
  --bs-btn-color: rgb(185, 185, 221);
}

