body {
    padding: 2rem;
    background-image: linear-gradient( to right, rgb(142, 182, 90), rgb(38, 182, 187));
  }
  
  .accordion {
    --bs-accordion-active-bg: #f1f1f3;
    --bs-accordion-bg: transparent;
    --bs-accordion-btn-icon-width: 10px;
  }
  
.nav
{
    --bs-nav-link-color: rgb(189, 64, 33);
    --bs-nav-link-hover-color: rgb(5, 102, 26);
    --bs-nav-link-font-size:10px;   
    
}


