*
{
padding:0;
margin:0;
}

body
{
 background : rgb(100,150,100);
}

.menu-bar
{
background:rgb(200,250,200);
text-align : center;

}

.menu-bar ul li
{
display:inline-flex;
list-style:none;
padding:10px;
width:250px;

}




.menu-bar ul li a
{
text-decoration:none;
color:black;
}